body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 150;
    background-color: #f5f5f5; /* Set a light background color */
}

.container {
    width: 80%;
}

/* Header Styles */
.header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: left;
}

.header h1 {
    margin: 0;
}

.header p {
    margin: 10px 0 0;
}

/* Main Section Styles */
.main {
    padding: 20px 0;
}

/* Section Styles */
.section {
    padding: 40px 0;
    text-align: left;
}

.section h2 {
    font-size: 2em;
    color: #333;
}

.section p {
    color: #555;
}

/* Footer Styles */
.footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: left;
}

/* Navigation Styles */
/* You can customize your navigation styles as needed */

/* Add more styles for other sections as needed */
